{% extends 'menu.html' %}

{% block content %}

    <main class="container mt-5">

        <div class="col-md-5 offset-md-3">

            <title>Tela de Login</title>

            <form method="POST" class="card card-body">

                {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                {% csrf_token %}

                <h1 class="text-center">Login</h1>

                <div class="mb-3">
                    <label for="username" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome aqui" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" name="password" class="form-control" id="password"  placeholder="Digite sua senha" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </main>

{% endblock %}